:root {
    --button-neutral: cornflowerblue;
    --button-neutral-hover: rgb(100, 100, 255);
    --button-confirm: rgb(129, 228, 172);
    --button-confirm-hover: rgb(31, 211, 109);
    --button-back: rgb(255, 100, 100);
    --button-back-hover: rgb(255, 61, 61);
}

.settings {
    background-color: rgb(255, 175, 175);
    padding: 30px;
    border-radius: 40px;
}

.settings h1 {
    margin: 0;
}

.settings.settings-main {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    
}

.settings.settings-mouse {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
}

.settings button {
    border: none;
    margin: 10px auto;
    display: block;
    width: 80%;
    padding: 20px 30px;
    font-size: 2rem;
    border-radius: 30px;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); 
    transition: all 0.15s ease;
}

.settings button:hover {
    background-color: var(--button-neutral);
    outline: 3px solid black;
    outline-offset: -3px;
}

.settings button:active {
    filter: brightness(1.2);
    transform: scale(0.97);
}

.settings.settings-keyboard {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: space-between;

}

.settings.settings-keyboard button {
    align-self: baseline;
}

.key-listen {
    justify-items: center;
}

.current-selection {
    display: grid;
    gap: 10px;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    grid-template-columns: 1fr;
}

.current-selection h1 {
    margin: 0;
}

.current-selection p {
    margin: 0;
}

.current-selection span {
    color: var(--button-neutral-hover);
    font-weight: bold;
}

.mouse-buttons-selection {
    display: grid;
    gap: 10px;
    justify-content: space-between;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    width: 100%;
}

.mouse-buttons-selection button {
    margin: 0;
    padding: 10px 20px;
    width: 100%;
}

.mouse-buttons-selection button:last-child {
    grid-column: span 2;
}

.settings-media {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
}

.media-buttons-selection {
    display: grid;
    gap: 10px;
    justify-content: space-between;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    width: 100%;
}

.media-buttons-selection svg{
    color: rgb(29, 29, 29);
}

.media-buttons-selection button {
    margin: 0;
    padding: 10px 20px;
    width: 100%;
}

.lower-buttons {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    width: 100%;
}

.confirm-button {
    background-color: var(--button-confirm)
}

button.confirm-button:hover {
    background-color: var(--button-confirm-hover);
}

button:disabled {
    filter: brightness(0.5);
}

button:hover:disabled {
    background-color: var(--button-confirm);
    outline: none;
}

button:active:disabled {
    filter: brightness(0.5);
    transform: none;
}

.back-button {
    background-color: var(--button-back);
}

button.back-button:hover {
    background-color: var(--button-back-hover);
}

button.neutral-button:hover {
    background-color: var(--button-neutral);
}

button.neutral-button {
    background-color: rgb(255, 255, 255);
}

.lower-buttons svg {
    color: white;
}